$borderColor: #dce0e0;
$textColor: #484848;
$starColor: #008489;
$borderTextColor : rgb(235, 235, 235);
$buttonColor : rgb(242, 242, 242);
$textButton : rgb(118, 118, 118);
$borderRadius : 4px;
$spanTextColor : #000;
$width : 100%;

@mixin  wrapper {
	width: 91%;
	margin: 0 auto;  
}
@mixin  transform {
	top: 50%;
	transform: translateY(-50%);
}

@mixin h2 {
	font-size: 25px;
  font-weight: 700;
  margin-bottom: 18px;
  color: $textColor;
}

@mixin  span {
  font-size: 15px;
  display: block;
  width: 100%;
  font-weight: 400;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
container {
	width: $width;
}

header {
	display: flex;
	color : rgb(72, 72, 72);
	border-bottom: 1px solid #e4e4e4;
	position: fixed;
	width: $width;
	z-index: 100;
	background: #fff;
	h1 {
		width: 1.7%;
		padding: 24px;
		a {
			display: inline-block;
			img {
				width: $width;
			}
		}
	}
	.search {
		width: 78%;
		margin: auto 0;
		label {
			position: relative;
			i {
				position: absolute;
				@include transform;
				left: 15px;
				font-size: 18px;
			}
			input {
				width: 25%;
    		padding: 13px;
    		font-size: 18px;
    		padding-left: 40px;
    		border: $borderTextColor solid 1px;
				border-radius: $borderRadius ;
				box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
				font-weight: 600;
			}
		}
	}
	nav {	
		width: 18%;
		ul {
			li {
				display: inline-block;
				padding: 29px 13px;
				margin-right: -4px;
				&:hover {
					border-bottom: 2px solid $textButton;
				}
				a {
					display: inline-block;
					text-decoration: none;
					color: $spanTextColor;	
				}
			}
		}
	}
}
main {
	position: relative;
	.user_search {
		width: 15%;
		float: left;
		position: fixed;
		top: 10%;
		.search_info {
			padding: 24px;
			p {
				margin-top: 16px;
				margin-bottom: 8px;
				font-weight: 700;
				color: $textColor;
			}
			button {
				width: $width;
				padding: 10px;
				background-color: #FFF;
				border: 1px solid rgb(220, 224, 224);
				border-radius: $borderRadius ;
				text-align: left;
				font-size: 15px;
				color: $textButton;
				transition: background-color 1s ease-in;
				&:hover {
					background-color: $buttonColor ;
					border-color: $buttonColor ;
				}
			}
		}
	}
	.explore {
		width: 85%;
		float: right;
		margin-top: 80px;
		.explore_paris {
			padding: 50px;
			h2 {
				@include h2;
			}
			.explore_info {
				display: inline-block;
				width: 32%;
				border: 1px solid rgb(220, 224, 224);
				border-radius: $borderRadius ;
				box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
				margin-right: 15px;
				a {
					text-decoration: none;
					color: #000;
					font-weight: 700;
					.home {
						width: $width;	
					}
					img {
						width: 96px;
						height: 72px;
						border-radius: $borderRadius ;
					}
					span {
						margin-left: 15px;
						color: $textColor;
					}
				}
			}
		}
		.paris_details {
			padding: 50px;
			.where_to_stay {
				.heading {
					position: relative;
					h2 {
						@include h2;
					}	
					a {
						position: absolute;
						top: 30%;
						left: 12%;
						font-size: 18px;
						color: #000;
					}
				}
				.stay_info {
					.stay_details {
						width: 24%;
    				display: inline-block;
    				margin-right: 15px;
    				margin-bottom: 15px;
						a {
							display: inline-block;
							text-decoration: none;
							color: $spanTextColor;
							img {
								width: $width;
								height: 250px;
								margin-bottom: 10px;
							}
							span {
								font-size: 13px;
								font-weight: 600;
							}
							span ~ span {
								font-size: 15px;
								display: block;
								width: $width;
								font-weight: 400;
								 }
								.star {
									display: block;
									width: $width;
									font-size: 10px;
									i {
										color : #008489;
									}
								}
							p {
								font-weight: 700;
								font-size: 17px;
							}
						}
						&:nth-child(4n) {
							margin-right: 0;
						}
					}
				}
			}
			.show_all {
				a {
				color : #008489;
				font-weight: 600;
				font-size: 17px;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}				
			}
			}
		}
	}
	.introduction {
		padding: 50px;
		.intro_heading {
			position: relative;
			margin-bottom: 18px;
			a {
				display: block;
				text-decoration: none;
				color: $spanTextColor;
				h2 {
					@include h2;
					margin-bottom: 0;
				}
				p {
					font-size: 17px;
				}
				i {
					@include transform;
					position: absolute;
					top: 50%;
					left: 27%;
					font-size: 18px;
				}
			}
		}
		.intro_details {
			.owl-item {
				display: inline-block;
				width: 19%;
				margin-right: 10px;
				.intro_info {
					a {
						display: inline-block;
						text-decoration: none;
						color : $textColor;
						img {
							width: 100%;
							height : 150px;
						}
						 p {
							margin-top: 10px;
							color: rgb(166, 29, 85);
							text-transform: uppercase;
							font-size: 12px;
							font-weight: 600;
							 span {
								 background-color: rgb(166, 29, 85);
								 display: inline;
								 padding: 0 4px;
								 color: #FFF;
								 border-radius: 3.2px;
							 }
						 }
						 p + p {
							 font-size: 16px;
							 color: $textColor;
							 font-weight: 700;
							 text-transform: none;
						 }
						span {
							@include span;
						}
						.star {
							display: block;
							width: 100%;
							font-size: 10px;
							span {
								font-size: 14px;
								display: inline-block;
								width: auto;
							}
						}
					}
				}
			}
		}	
	}
	}